body{
    height: 100%;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: black;
    text-align: center;
    font-family: Calibri, Georgia, Times;
    color: #ffffff;
    background-image: url("qouteimg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#header{
overflow: hidden;
margin-bottom: 64px;
padding-left: 2em;
padding-right: 2em;
}

div.overlay-block[id="header"]{
    font-size: 1em;
    padding: 10px;

}

div.overlay-block[id="header"] a{
    text-decoration: none;
    color: lightskyblue;
}

div.overlay-block{
    display: block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 2px #000000;
}

div p#name{
    float: left;
    width: 45%;
    font-size: 1.28em;
}

div p#links{
    float:right;
    width: 45%;
    text-align: right;
}

nav{
    /* border-style: dotted;
    border-color: red; */
    float: left;
    margin: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 500px;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 2px #000000;
}

nav h3{
    list-style: none;
    background-image: url(blackfabric.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    border: ridge;
    border-color: #000000;
    display: block; 
    padding: 5px;
    margin: 0;
    line-height: 2em;
}

nav p.head{
    list-style: none;
    background-image: url(blackfabric.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    border: ridge;
    border-color: #000000;
    display: block;
    opacity: 1;
}


p.head a:hover{
    opacity: 0.5;
    background-color: black;
}
/* 
p a#present {
    background-color: black;
} */

nav p{
    list-style: none;
    line-height: 2em;
    text-align: center;
    margin: 0;
}

nav p a.top{
    border-bottom: 1px solid grey;
}

nav p.menu{
    line-height: 3em;
}

nav div p#author{
    border-style: ridge;
}

nav div p#para{
    font-size: 0.7em;
    font-style: italic;
    margin: 20px;
}

nav h4{
    list-style: none;
    background-image: url(blackfabric.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    border: ridge;
    border-color: #000000;
    display: block; 
    padding: 5px;
    margin: 0;

}

nav a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
}

p.menu a:hover{
    opacity: 0.8;
    background-color: black;
}

div#main{
    background-color: rgba(0, 0, 0, 0.65);
    display: block;
    padding-right: 50px;
    margin-top: 50px;
    font-size: 1em;
    font-style: italic;
    box-shadow: 0px 0px 2px #000000;
    list-style: none;
    float: left;
    margin-bottom: 100px;
    width: 1300px;
}

section{
    margin-left: 100px;
}

/* p#previous{
    float: left;
}

p#previous a{
    text-decoration: none;
    border-style: solid;
    border-color: #ffffff;
    margin-bottom: 10px;
    color: #ffffff;
    border-radius: 10%;
    padding: 10px;
    background-color: rgb(135, 206, 250, 0.3);
}

p#previous a:hover{
    background-color: rgba(205, 228, 254, 0.5);
} */

div#main header{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(135, 206, 250, 0.8);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text p{
    font-size: 0.8em;
}

.container{
    position: relative;
    width: 250px;
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    display: block;
    word-wrap: break-word;
    margin-bottom: 40px;
    /* border-style: dotted;
    border-color: red; */
    float: left;
}

.image{
    display: block;
    width: 250px;
}

#selectimg{
    margin-left: 40px;
}

/* p#one{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#one img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#two{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#two img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#three{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#three img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#four{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#four img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#five{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#five img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#six{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#six img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#seven{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#seven img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#eight{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#eight img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#nine{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#nine img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#ten{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#ten img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#eleven{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#eleven img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#twelve{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#twelve img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#thirteen{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#thirteen img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#fourteen{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#fourteen img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#fifteen{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#fifteen img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#sixteen{
    background-color: rgb(135, 206, 250, 0.3);
    box-shadow: 0px 0px 2px #000000;
    border-style: solid;
    border-radius: 20%;
    display: block;
    margin: auto;
    width: 20%;
    float: left;
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 30px;
}

p#sixteen img{
    width: 200px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20%;
    margin-bottom: 5px;
    display: block
}

p#one:hover{
    opacity: 1;
    background-color: rgba(205, 228, 254, 0.5);
} */

p a{
    text-decoration: none;
    color: white;
}

footer{
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
    text-decoration: none;
    color: lightskyblue;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 2px #000000;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    clear: both;
}